body {
  margin: 0;
  background-color: #f7f7f7;
}

table.toc {
  margin: 20px;
  width: 1600px;
  border-bottom: 4px solid #fff;
}

table.toc td {
  font-family: Helvetica, sans-serif;
  color: #444;
  vertical-align: top;
}

table.toc table.defs td {
  font-family: monospace;
  list-style-type: none;
  color: #AAA;
}

table.toc table.defs td.num {
  text-align: right;
  display: inline-block;
  width: 32px;
  color: #CCC;
}

table.toc h1 {
  font-size: 12px;
}

a.toc-link {
  text-decoration: none;
  color: #45C05A;
}

table.code-table {
  border-collapse: collapse;
}

table.code-table td {
  font-family: Helvetica, sans-serif;
  padding: 40px 20px;
  color: #444;
  vertical-align: top;
}

table.code-table tr.header {
  border-top: 4px solid #fff;
}

table.code-table tr.header td {
  padding-bottom: 0;
}

table.code-table .func-name {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

table.code-table .func-head {
  color: #AAA;
}
