body {
  margin: 0;
  background-color: #f7f7f7;
}

table {
  border-collapse: collapse;
}

td {
  font-family: Helvetica, sans-serif;
  padding: 40px 20px;
  color: #444;
  vertical-align: top;
}

tr.header {
  border-top: 4px solid #fff;
}

tr.header td {
  padding-bottom: 0;
}

.func-name {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.func-head {
  color: #AAA;
}
