{"with-pretty-writer"     :same-name
 "getf"                   :same-name
 "setf"                   :same-name
 "pretty-writer"          :same-name
 "pprint"                 ["pprint*" "pprint-sb" "pprint-str" "pprint"]
 "pretty-writer?"         :same-name
 "make-pretty-writer"     :same-name
 "*print-right-margin*"        :same-name
 "*print-miser-width*"         :same-name
 "*print-pretty*"              :same-name
 "*print-pprint-dispatch*"     :same-name
 "*print-lines*"               :same-name
 "*print-circle*"              :same-name
 "*print-shared*"              :same-name
 "*print-suppress-namespaces*" :same-name
 "*print-radix*"               :same-name
 "*print-base*"                :same-name
 "*current-level*"             :same-name
 "*current-length*"            :same-name
 "PrettyFlush"            "IPrettyFlush"
 "*default-page-width*"   :same-name
 "get-field"              :same-name
 "set-field"              :same-name
 "get-column"             :same-name
 "get-line"               :same-name
 "get-max-column"         :same-name
 "set-max-column"         :same-name
 "get-writer"             :same-name
 "c-write-char"           :same-name
 "column-writer"          :same-name
 "logical-block"          :same-name
 "write-initial-lines"    :same-name
 "get-miser-width"        :same-name
 "ancestor?"              :same-name
 "buffer-length"          :same-name
 "pp-newline"             :same-name
 "write-token"            :same-name
 "write-token :start-block-t" :same-name
 "write-token :end-block-t"   :same-name
 "write-token :indent-t"      :same-name
 "write-token :buffer-blob"   :same-name
 "write-token :nl-t"          :same-name
 "write-tokens"           :same-name
 "tokens-fit?"            :same-name
 "linear-nl?"             :same-name
 "miser-nl?"              :same-name
 "emit-nl?"               :same-name
 "emit-nl? :linear"       :same-name
 "emit-nl? :miser"        :same-name
 "emit-nl? :fill"         :same-name
 "emit-nl? :mandatory"    :same-name
 "get-section"            :same-name
 "get-sub-section"        :same-name
 "update-nl-state"        :same-name
 "emit-nl"                :same-name
 "split-at-newline"       :same-name
 "write-token-string"     :same-name
 "write-line"             :same-name
 "p-write-char"           :same-name
 "start-block"            :same-name
 "end-block"              :same-name
 "nl"                     :same-name
 "indent"                 :same-name
 "map-passing-context"    :same-name
 "consume"                :same-name
 "consume-while"          :same-name
 "unzip-map"              :same-name
 "tuple-map"              :same-name
 "rtrim"                  :same-name
 "ltrim"                  :same-name
 "prefix-count"           :same-name
 "add-to-buffer"          :same-name
 "write-buffered-output"  :same-name
 "write-white-space"      :same-name
 "deftype"                :same-name
 "buffer-blob"            :same-name
 "nl-t"                   :same-name
 "start-block-t"          :same-name
 "end-block-t"            :same-name
 "indent-t"               :same-name
 "check-enumerated-arg"   :same-name
 "level-exceeded"         :same-name
 "pprint-newline"         :same-name
 "write-out"              :same-name
 "parse-lb-options"       :same-name
 "pprint-logical-block"   :same-name
 "pll-mod-body"           :same-name
 "print-length-loop"      :same-name
 "cl-format"              :same-name
 "*format-str*"           :same-name
 "format-error"           :same-name
 "arg-navigator"          :same-name
 "init-navigator"         :same-name
 "next-arg"               :same-name
 "next-arg-or-nil"        :same-name
 "get-format-arg"         :same-name
 "absolute-reposition"    :same-name
 "relative-reposition"    :same-name
 "compiled-directive"     :same-name
 "realize-parameter"      :same-name
 "realize-parameter-list" :same-name
 "special-radix-markers"  :same-name
 "format-simple-number"   :same-name
 "format-ascii"           :same-name
 "integral?"              :same-name
 "remainders"             :same-name
 "base-str"               :same-name
 "java-base-formats"      "javascript-base-formats"
 "opt-base-str"           :same-name
 "group-by*"              :same-name
 "format-integer"         :same-name
 "english-cardinal-units" :same-name
 "english-ordinal-units"  :same-name
 "english-cardinal-tens"  :same-name
 "english-ordinal-tens"   :same-name
 "english-scale-numbers"  :same-name
 "format-simple-cardinal" :same-name
 "add-english-scales"     :same-name
 "format-cardinal-english" :same-name
 "format-simple-ordinal"  :same-name
 "format-ordinal-english" :same-name
 }
